<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<style>
		body {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,18,71,1) 10%, rgba(136,50,47,1) 16%, rgba(47,47,131,1) 27%, rgba(109,163,173,1) 70%);	}
	h3{
		font-size: 36px;
		color: pink;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	h2{
		font-size: 25px;
		color: red;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	thead{
		width: 50%;
	}

	table:empty {
 display: none;
}
	</style>
	<title>Library</title>
</head>

<body>

<div class="container">
	<div  class="p-3 mb-2 bg-secondary text-white">
	<h3>Library Management</h3>
	</div>
	<hr>
	<a th:href="@{/books/showFormForAdd}"
	sec:authorize="hasRole('ADMIN')"
		class="btn btn-primary btn-sm mb-3">
		Add Book
	</a>
	
			<a th:href="@{/login}"
			sec:authorize="!isAuthenticated()"
		class="btn btn-primary btn-sm mb-3">
		Login
	</a>
	
		<a th:href="@{/books/logout}"
			sec:authorize="isAuthenticated()"
		class="btn btn-primary btn-sm mb-3">
		Logout
	</a>
	
         <a th:href="@{/cart/myCart}" class="btn btn-primary btn-sm mb-3">
          <span class="fas fa-shopping-cart" ></span> Books Cart
        </a> 

	<hr>
	<div>
	<form th:action="@{/books/search}"  class="form-inline">
	<div class="form-group">
	<input class="form-control  mr-sm-2 mb-3" id="title" type="search" name="keyword" placeholder="Search by name" />
	</div>
	<button class="btn btn-success mb-3" type="submit">Search</button>
	</form>
	</div>
	<hr>
	<a th:href="@{/books/deleteAll}"
	sec:authorize="hasRole('ADMIN')"
		class="btn btn-primary btn-sm mb-3">
		Delete All
	</a>

<div th:if="${books!=null and !books.isEmpty()}">
	<table class="table table-striped table-dark" id="myTable">
		<thead class="thead-light">
			<tr>
				<th>Title</th>
				<th>Author Name</th>
				<th>Category</th>
				<th>Price</th>
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempBook : ${books}">
			
				<td th:text="${tempBook.title}" />	
				<td th:text="${tempBook.author_name}" />	
				<td th:text="${tempBook.category}" />	
				<td th:text="${tempBook.price}" />	
				
				<td>
					<a th:href="@{/books/showFormForUpdate(bookId=${tempBook.id})}"
						sec:authorize="hasRole('ADMIN')"
					   class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->					
					<a th:href="@{/books/delete(bookId=${tempBook.id})}"
						sec:authorize="hasRole('ADMIN')"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">
						Delete
					</a>
					<a th:href="@{/cart/addCart(bookId=${tempBook.id})}"
								sec:authorize="isAuthenticated()"
					   class="btn btn-danger btn-sm">
						Add cart
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	</div>
<div th:unless="${books!=null and !books.isEmpty()}">
		<h2>No books available</h2>
	</div>
	<hr>
	<a class="text-light bg-dark" th:href="@{/books/}">Back to Home</a>
</div>
	<script type="text/javascript">
	function myDeleteFunction() {
		  document.getElementById("myTable").deleteTHead();
		}
	</script>
</body>
</html>


